


.nav-link2{
    width: 1135px;
    height: 452px;
    top: 2852px;
    left: 138px;
    gap: 0px;
    border-radius: 20px;
    opacity: 0px;
    background-color: #EDF2F4;
    margin-left: 138px;
}